pipeline/parentpipeline.json
{
	"name": "parentpipeline",
	"properties": {
		"activities": [
			{
				"name": "primsdata",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "primsdta",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_filename": {
							"value": "@pipeline().parameters.p_filename",
							"type": "Expression"
						},
						"files": {
							"value": "@pipeline().parameters.files",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "api_ingestion",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "primsdata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "api_ingestion_pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "incremental_loading",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "api_ingestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "incremental_loading",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "failed_alert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "incremental_loading",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-18.northcentralus.logic.azure.com:443/workflows/8b2fb4e97d0f411fad6e2e9330e8cc3d/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=9jZm9GUBkHwss0gwmhzQCLPpv3rwqE9L2SfnpXqTJUM",
					"body": {
						"value": "{\n    \"pipeline_name\":\"@{pipeline().Pipeline}\",\n    \"runid\":\"@{pipeline().RunId}\",\n    \"status\":\"@{activity('incremental_loading').Status}\",\n    \"error\":\"@{if(equals(activity('incremental_loading').Status,'Failed'),\n                 'Activity Failed',\n                 'No error')}\"\n}\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_filename": {
				"type": "string"
			},
			"files": {
				"type": "array",
				"defaultValue": [
					{
						"file_name": "DimAirline.csv"
					},
					{
						"file_name": "DimFlight.csv"
					},
					{
						"file_name": "DimPassenger.csv"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-16T04:58:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}